[Unit]
Description=Hexapod Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 "/home/pi/hexapod/software/raspberry pi/hexapod.py"
StandardInput=tty-force

[Install]
WantedBy=multi-user.target